
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}
header {
    background-color: blue;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin: 0;
}
header p {
    font-size: 1.2em;
    margin: 5px 0;
}
nav {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
nav a:hover {
    text-decoration: underline;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
}
.main {
    text-align: center;
    padding: 20px;
}
.main img {
    max-width: 150%;
    height: auto;
    border-radius: 10px;
}
.button {
    display: inline-block;
    background-color: blue;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
}
.button:hover {
    background-color: beige

}
.about {
    margin: 20px 0;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
